{% extends '::base.html.twig' %}

{% block title %}
    There was an exception!
{% endblock title %}

{% block body %}
    <h2>There was an exception!</h2>
    <p>
        Johny shouts that we have an EXCEPTION...:-(
    </p>
{% endblock body %}

